@if(TempData["success"] != null)
{
    @*Enable Toastr js which has to be linked with jquery to operate:*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script type="text/javascript">
        toastr.success('@TempData["success"]');
    </script>
    @*This was to display the alert initially with TempData but integrated with toastr
    <h2 class="card-title alert">@TempData["success"]</h2>*@
}

@if(TempData["error"] != null)
{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
        <script type="text/javascript">
        toastr.error('@TempData["error"]');
    </script>
}