@model DesignType

<form method="post" asp-action="Delete">
@*  To access the Id of the related category, we used: (worked with adding asp-route-id="@Model.Id" above): *@
    <input asp-for="Id" hidden />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Delete Design</h2>
            <hr />
        </div>
        @*<div asp-validation-summary="All"></div>*@
        <div class="mb-3">
            <label asp-for="Name" ></label>
            <input asp-for="Name" disabled class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary style="width:150px">Delete</button>
        @*We don't have which Action Method it should submit too below - If no name provided, it will use Get, so here Edit Function in the controller as default which post back info. 
        Here we explicitly mention this in asp-action*@
        <a asp-controller="DesignType" asp-action="Index" class="btn btn-secondary style="width:150px">Back to list</a>

    </div>

</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
     }
}
